<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário para lançar a nota do aluno</title>
    <link rel="stylesheet" th:href="@{css/style.css}">
    <link rel="stylesheet" th:href="@{css/lancamento.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
    <div th:insert="~{fragmentos/header :: header}"></div>
    <div class="container">
        <h1>Lançamento de Notas</h1>
        <form action="/lancamento-nota" method="post">
            <label for="nota">Nota:</label>
            <input type="number" id="nota" name="nota" step="0.1" required>
            <input type="hidden" id="ra" name="ra" th:value="${aluno.ra}">
            <input type="submit" value="Enviar Nota">
        </form>
    </div>
    <div th:insert="~{fragmentos/footer :: footer}"></div>
</body>
</html>