<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário para lançar a nota do aluno</title>
</head>
<body>
    <h1>Lançamento de Notas</h1>
    <form action="/lancamento-nota" method="post">
        <label for="nota">Nota:</label>
        <input type="number" id="nota" name="nota" step="0.1" required>
        <input type="hidden" id="ra" name="ra" th:value="${aluno.ra}">
        <input type="submit" value="Enviar Nota">
    </form>
</body>
</html>