<footer>
    <div id="footer_content">
        <div id="footer_contacts">
            <h2>Senai</h2>
            <p>Contribuindo para a Indústria e Tecnologia!</p>

            <div id="footer_social_media">
                <a href="https://www.instagram.com" class="footer-link" id="instagram">
                    <i class="fa-brands fa-instagram"></i>
                </a>

                <a href="https://twitter.com" class="footer-link" id="twitter">
                    <i class="fa-brands fa-twitter"></i>
                </a>

                <a href="https://facebook.com" class="footer-link" id="facebook">
                    <i class="fa-brands fa-facebook"></i>
                </a>
            </div>


        </div>

        <ul class="footer-list">
            <li>
                <h3>Fale Conosco</h3>
            </li>

            <li>
                <a href="" class="footer-link">SAC</a>
            </li>

            <li>
                <a href="#" class="footer-link">Suporte</a>
            </li>

            <li>
                <a href="#" class="footer-link">Contatos</a>
            </li>
        </ul>

        <ul class="footer-list">
            <li>
                <h3>Produtos</h3>
            </li>

            <li>
                <a href="#" class="footer-link">Cursos</a>
            </li>

            <li>
                <a href="#" class="footer-link">Mais Procurados</a>
            </li>

            <li>
                <a href="#" class="footer-link">Patrocinadores</a>
            </li>
        </ul>

        <div id="footer_subscribe">
            <h3>Inscreva-se</h3>
            <p>Coloque o seu email para ser notificado sobre nossas novidades</p>

            <div id="input_group">
                <input type="email" id="email">
                <button><i class="fa-regular fa-envelope"></i></button>
            </div>
        </div>

    </div>

    <div id="footer_copyright">
        SENAI &#169
        2024 all rights reserved
    </div>
</footer>