<header>
    <a href="" class="logo">LOGO</a>
    <input type="checkbox" id="menu-bar">
    <label for="menu-bar">MENU</label>

    <nav class="navbar">
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="#">Cursos</a></li>
            <li><a href="#">Contato</a></li>
            <li><a href="#">Login +</a>
                <ul>
                    <li><a href="/login-aluno">Aluno</a></li>
                    <li><a href="/login-docente">Professor</a></li>
                    <li><a href="/login-adm">Administrador</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>