<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org/">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{css/style.css}">
    </head>

<header>
    <img src="/imagens/logo/logo.png" alt="" class="logo">
    <input type="checkbox" id="menu-bar">
    <label for="menu-bar">MENU</label>

    <nav class="navbar">
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/cursos">Suporte</a></li>
            <li><a href="/contato">Contato</a></li>
            <li><a href="#">Login +</a>
                <ul>
                    <li><a href="/login-aluno">Aluno</a></li>
                    <li><a href="/login-docente">Professor</a></li>
                    <li><a href="/login-adm">Administrador</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>