<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Aluno</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/edit.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>

<body>
    <div th:insert="~{fragmentos/header :: header}"></div>
    <div class="container">
        <h1>Editar Aluno</h1>
        <form action="/atualizar-aluno" method="post">
            <input type="hidden" name="ra" th:value="${ra}">
            <div>
                <label for="nome">Nome:</label>
                <input type="text" id="nome" name="nome" th:value="${aluno.nome}">
            </div>
            <div>
                <label for="curso">Curso:</label>
                <input type="text" id="curso" name="curso" th:value="${aluno.curso}">
            </div>
            <!-- <label for="materiaSelect">Matéria:</label>
            <select id="materiaSelect" name="materia">
                <option th:each="materia : ${materias}" th:value="${materia.nome}" th:text="${materia.nome}"></option>
            </select> -->
            <div>
                <label for="turma">Turma:</label>
                <input type="text" id="turma" name="turma" th:value="${aluno.turma}">
            </div>
            <div>
                <button type="submit">Salvar Alterações</button>
            </div>
        </form>

    </div>
    <div th:insert="~{fragmentos/footer :: footer}"></div>
</body>

</html>