<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filtro de Alunos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>Alunos</h1>
        <table>
            <thead>
                <tr>
                    <th>Rg</th>
                    <th>Nome</th>
                    <th>Turma</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr th:each="aluno : ${alunos}">
                    <th:block th:if = "${aluno.turma == docente.turmas}">
                    <td th:text="${aluno.ra}"></td>
                    <td th:text="${aluno.nome}"></td>
                    <td th:text="${aluno.turma}"></td>
                    <td class="btn-cell">
                        <a th:href="@{'/lancando-nota/' + ${aluno.ra} }" class="btn-excluir">
                            <i class="fas fa-trash-alt"></i> Lançar
                        </a>
                    </td>
                </th:block>
        
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>