<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notas do Aluno</title>
    <link rel="stylesheet" th:href="@{css/style.css}">
    <link rel="stylesheet" th:href="@{css/style-notas_aluno.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
    <div th:insert="~{fragmentos/header :: header}"></div>
    <div class="titulo">
        <h1>Suas Notas</h1>
    </div>
    <div class="container">
        <div class="ajuste">
            <div class="msg" th:if="${#lists.isEmpty(notas)}">
                <span class="no-notas-message">Nenhuma nota lançada ainda.</span> 
            </div> 
            <table class="center-table" th:if="${notas}">
                <thead>
                    <tr>
                        <th>Nota</th>
                        <th>Nome</th>
                        <th>Matéria</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- <th:block th:if="${#lists.isEmpty(notas)}">
                        <tr>
                            <td colspan="3">Nenhuma nota lançada ainda.</td>
                        </tr>
                    </th:block> -->
                    <tr th:each="nota : ${notas}" th:if="${nota.nomeAluno.ra == aluno.ra}">
                        <th:block th:if="${nota.nomeAluno.ra == aluno.ra}">
                            <td th:text="${nota.nota}"></td>
                            <td th:text="${nota.nomeAluno.nome}"></td>
                            <td th:text="${aluno.materia}"></td>
                        </th:block>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div th:insert="~{fragmentos/footer :: footer}"></div>
</body>
</html>
