<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Interna do Docente</title>
    <link rel="stylesheet" th:href="@{css/style.css}">
    <link rel="stylesheet" th:href="@{css/style-interna_docente.css}">
</head>
<body>
    <div th:insert="~{fragmentos/header :: header}"><!-- barra de menu --></div>
   <div class="container">
    <h1>Docente autenticado com sucesso</h1>
    <a href="/logout-docente"><button>Logout</button></a>
    <a href="/lancamento"><button>Lançamento de Notas</button></a>
    <a href="/filtro-alunos"><button>Alunos da Turma</button></a>
    <a href="/dados-docente"><button>Seus dados</button></a>
   </div>
    <div th:insert="~{fragmentos/footer :: footer}"></div>  
</body>
</html>