.info-docente {
    /* background-color: #f4f4f4;
    border: 1px solid #ccc; */
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.info-docente h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.info-docente p {
    margin-bottom: 10px;
}

.info-docente span {
    font-weight: bold;
}
