/* .container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container img{
    width: 100%;
}
.container button{
    position: absolute; top: 70%; left: 28%; transform: translate(-50%, -50%);
    background: transparent;
    width: 180px;
    height: 60px;
    border: none;
} */

/* .container-slider{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    gap: 1rem;
}

.container-images{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 700px;
}
.container-images img{
    width: 800px;
    height: 250px;
}

.slider{
    transition: opacity .2s;
    position: absolute;
    width: 100%;
    border-radius: 10px;
    opacity: 0;
}

.on{
    opacity: 1;
}

#prev-button, #next-button{
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#prev-button img, #next-button img{
    width: 100%;
    height: 100%;
}
#prev-button{
    transform: rotate(180deg);
} */
.carousel{
    margin-top: 15%;
}
.recomendacoes-semana h1{
    margin-top: 20%;
    text-align: center;
    font-size: 2em;
}
.recomendacao {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}

.container-recomendacoes{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 812px;
    /* margin: 1vh; */
    margin-bottom: 5px;
    
}
.container-recomendacoes img{
    height: 350px;
    width: 400px;
}

.texto{
    display: flex;
    width: 30%;
    justify-content: center;
    align-items:center;
    margin: 15%;
    flex-direction: column;
    margin-top: 15%;
    text-align: justify;
    text-indent: 15px;
    margin-right: 3%;
}
.texto .titulo{
    color: #e92323;
    padding: 2%;
}

.container-recomendacoes2{
    
    padding: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 1vh;
    margin-bottom: 5%;
    height: 812px;
}

.container-recomendacoes2 img{
    height: 350px;
    width: 400px;
}

.texto2{
    display: flex;
    width: 30%;
    justify-content: center;
    align-items:center;
    margin: 15%;
    flex-direction: column;
    margin-top: 15%;
    text-align: justify;
    text-indent: 15px;
    margin-left: 3%;
}

.texto2 .titulo{
    color: #e92323;
    padding: 2%;
}
.card-img-top {
    height: 200px; /* Ajuste a altura da imagem conforme necessário */
    object-fit: cover;
}
.card-body h5, p{
    text-align: center;
}
.card{
    height: 600px;
}
.carousel-control-prev {
    left: -100px; /* Ajuste a posição horizontal da seta esquerda conforme necessário */
}
.carousel-control-next {
    right: -100px; /* Ajuste a posição horizontal da seta direita conforme necessário */
}
.carousel-control-prev-icon{
    color: red;
}
#carouselExampleControls{
    margin-top: 20%;
}