<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reserva do carro</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{css/reserva.css}">
    <link rel="stylesheet" th:href="@{css/style.css}">
    <link rel="stylesheet" th:href="@{css/style-cadastro_funcionario.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
</head>

<body>
    <div class="box">
        <div th:insert="~{fragmentos/header :: header}"><!-- barra de menu --></div>
        <div class="row justify-content-center">
            <div class="img-box">
                <img src="/imagens/logo/img-formulario.png">
            </div>
            <div class="form-box">
                <h2>Fazer reserva</h2>
                <!-- <p> Já é um membro? <a href="/login-funcionario"> Login </a> </p> -->
                <form method="post" action="cadastrar-reserva">
                    <div class="input-group">
                        <label for="dataReserva"> Data da Reserva:</label>
                        <input type="date" id="dataReserva" name="dataReserva" required>
                    </div>
                    <div class="input-group">
                        <label for="dataDevolucao"> Data da Devolução:</label>
                        <input type="date" id="dataDevolucao" name="dataDevolucao" required>
                    </div>
                    <div class="input-group">
                        <label for="carroSelect">Carro:</label>
                        <select id="carroSelect" required>
                            <option th:each="carro : ${carros}" th:value="${carro.placa}" th:text="${carro.placa}" name="placa.carro"></option>
                        </select>
                    </div>
                    <div class="input-group">
                        <label for="email"> Email:</label>
                        <input type="email" id="email" name="email" required>
                    </div>
                    <div class="input-group">
                        <button type="submit">Cadastrar</button>
                    </div>
                    
                    

                </form>
            </div>
            <div th:insert="~{fragmentos/footer :: footer}"></div>
        </div>

</body>

</html>