<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dados do Adm autenticado</title>
    <link rel="stylesheet" th:href="@{css/style.css}">
    <link rel="stylesheet" th:href="@{css/dados-docente.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
    <div th:insert="~{fragmentos/header :: header}"><!-- barra de menu --></div>
    <div class="info-docente">
        <h2>Informações do Administrador</h2>
        <p>Nome: <span th:text="${administrador.nome}"></span></p>
        <p>Cpf: <span th:text="${administrador.cpf}"></span></p>
        <p>Email: <span th:text="${administrador.email}"></span></p>
        <p>Senha: <span th:text="${administrador.senha}"></span></p>
    </div>
    <div th:insert="~{fragmentos/footer :: footer}"></div>  
</body>
</html>